/* Center the Bookmarks Toolbar */
#personal-bookmarks,
#PlacesToolbar,
#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}


/* Compact bookmark buttons 
#PlacesToolbarItems > .bookmark-item {
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
*/

/* Hide text for normal bookmarks only */
#PlacesToolbarItems > .bookmark-item:not([container]) > .toolbarbutton-text {
  display: none !important;
}


/* Keep folder labels visible */
#PlacesToolbarItems > .bookmark-item[container] > .toolbarbutton-text {
  display: inline !important;
}


/* Center bookmark icons */
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon {
  margin-inline: 2px !important;
}
